
<p>
    TData is a website that brings together open data from the field of tourism in the Valencian Community.
    It is a result of the research project "Development of an open data ecosystem to transform the tourism sector (GVA-COVID19/2021/103)"
    financed by the Ministry of Innovation, Universities, Science and Digital Society of the Generalitat Valenciana,
    and developed by a multidisciplinary research team from the University of Alicante, the Polytechnic University of Valencia and the University of Valencia.
</p>
<p>
    Data from the tourism sector come from various sources at various levels (national, regional or local),
    being also heterogeneous in nature. For this reason, in this project a mechanism has been developed for the collection and publication of information sources.
    Useful data in the field of tourism. Specifically, TData uses the following research results:
    (i) identification of the necessary information sources in the tourism sector together with their metadata and necessary semantic resources;
    (ii) determination of the possibility of data from these sources being published openly;
    and (iii) development of mechanisms for collecting these <a href="https://github.com/wake-ua/OpenDataCrawler">data</a>
    and your <a href="https://github.com/wake-ua/ckan-scripts/">publishing</a> that facilitates their reuse in order to obtain value from them.
</p>   