
{% set current_lang = request.environ.CKAN_LANG %}
{% set snippet_url = 'home/snippets/about_text_{0}.html'.format(current_lang) %}
{% snippet snippet_url %}

        <a class="media-image" href="#">
          <img class="img-responsive" style="min-width: 20%;max-width:30%;display:inline" src="{{ h.url_for_static('/logo-gva.jpg') }}" alt="Placeholder" width="420" height="150" />
        </a>

        <a class="media-image" href="#">
          <img class="img-responsive" style="min-width: 20%;max-width:24%;display:inline" src="{{ h.url_for_static('/logo-ua-color-320x232.png') }}" width="320" height="232"/>
        </a>

        <a class="media-image" href="#">
          <img class="img-responsive" style="min-width: 20%;max-width:20%;display:inline" src="{{ h.url_for_static('/logo_uv_400x400.jpg') }}" width="400" height="400"/>
        </a>

        <a class="media-image" href="#">
          <img class="img-responsive" style="min-width: 20%;max-width:20%;display:inline" src="{{ h.url_for_static('/marca_UPV_secundaria_negro_568x657.jpg') }}" width="568" height="567"/>
        </a>