
<p>
    TData es una web que federa datos abiertos procedentes del ámbito del turismo en la Comunitat Valenciana.
    Es un resultado del proyetco de investigación "Desarrollo de un ecosistema de datos abiertos para transformar el sector turístico (GVA-COVID19/2021/103)"
    financiado por la Conselleria de Innovación, Universidades, Ciencia y Sociedad Digital de la Generalitat Valenciana,
    y desarrollado por un equipo de investigación multidisciplinar de la Universidad de Alicante, la Universitat Politècnica de Valencia y la Universitat de València.
    </p>
<p>
    Los datos del sector del turismo proceden de diversas fuentes a varios niveles (nacional, autonómico o local),
    siendo además de naturaleza heterogénea. Por ello, en este proyecto se ha desarrollado un mecanismo para la recolección y publicación de fuentes de
    datos útiles en el ámbito del turismo. Concretamente, TData usa los siguientes resultados de invetsigación:
    (i) identificación de las fuentes de información necesarias en el sector turístico junto con sus metadatos y recursos semánticos necesarios;
    (ii) determinación de la posibilidad de que los datos de estas fuentes sean publicados en abierto;
    y (iii) desarrollo de mecanismos de recolección de estos <a href="https://github.com/wake-ua/OpenDataCrawler">datos</a>
    y su <a href="https://github.com/wake-ua/ckan-scripts/">publicación</a> que facilite su reutilización para poder obtener valor de los mismos.
</p>   