
<p>
    TData és una web que federa dades obertes procedents de l'àmbit del turisme a la Comunitat Valenciana.
    És un resultat del projecte de recerca "Desenvolupament d'un ecosistema de dades obertes per transformar el sector turístic (GVA-COVID19/2021/103)"
    finançat per la Conselleria d'Innovació, Universitats, Ciència i Societat Digital de la Generalitat Valenciana,
    i desenvolupat per un equip de recerca multidisciplinar de la Universitat dAlacant, la Universitat Politècnica de València i la Universitat de València.
    </p>
<p>
    Les dades del sector del turisme procedeixen de diverses fonts a diversos nivells (nacional, autonòmic o local),
    sent a més de naturalesa heterogènia. Per això, en aquest projecte s'ha desenvolupat un mecanisme per a la recol·lecció i publicació de fonts de
    dades útils a l'àmbit del turisme. Concretament, TData utilitza els següents resultats d'investigació:
    (i) identificació de les fonts d'informació necessàries al sector turístic juntament amb les seves metadades i recursos semàntics necessaris;
    (ii) determinació de la possibilitat que les dades d'aquestes fonts siguin publicades en obert;
    i (iii) desenvolupament de mecanismes de recol·lecció d'aquests <a href="https://github.com/wake-ua/OpenDataCrawler">dades</a>
    i la seva <a href="https://github.com/wake-ua/ckan-scripts/">publicació</a> que faciliti la seva reutilització per poder obtenir-ne valor.
</p>   