<div class="module-content box acknowledgements" style="padding-top: 10px;padding-bottom: 10px;">
  <div>
    <p> {{ _('Acknowledgements') }}:
      <b> "Desarrollo de un ecosistema de datos abiertos para transformar el sector turístico (GVA-COVID19/2021/103)"</b>
    </p>
    <section class="media-overlay hidden-xs">
      <div style="justify-content: center;display: flex;">
          <img class="img-responsive" src="{{ h.url_for_static('/logo-gva-420x150.jpg') }}" alt="GVA" heigth="60"  />
      </div>
    </section>
  </div>
</div>