<div class="module-content box acknowledgements">
  <div>
    <p> {{ _('Acknowledgements') }}:
      <b> "Desarrollo de un ecosistema de datos abiertos para transformar el sector turístico (GVA-COVID19/2021/103)"</b>
    </p>
<!--    <section class="media-overlay hidden-xs">-->
        <a class="media-image" href="#">
          <img class="img-responsive" style="min-width: 20%;max-width:32%;display:inline" src="{{ h.url_for_static('/logo-gva.jpg') }}" alt="Placeholder" width="211" height="80" />
        </a>

        <a class="media-image" href="#">
          <img class="img-responsive" style="min-width: 10%;max-width:25%;display:inline" src="{{ h.url_for_static('/logo-ua-color-320x232.png') }}" width="320" height="232"/>
        </a>

        <a class="media-image" href="#">
          <img class="img-responsive" style="min-width: 10%;max-width:20%;display:inline" src="{{ h.url_for_static('/logo_uv_400x400.jpg') }}" width="400" height="400"/>
        </a>

        <a class="media-image" href="#">
          <img class="img-responsive" style="min-width: 10%;max-width:20%;display:inline" src="{{ h.url_for_static('/marca_UPV_secundaria_negro_568x657.jpg') }}" width="568" height="567"/>
        </a>
<!--    </section>-->
  </div>
</div>