
{% set intro = g.site_intro_text %}
{% set current_lang = request.environ.CKAN_LANG %}
{% set logo_img_url = '/wakeua-featured_{0}.png'.format(current_lang) %}

<div class="module-content box" style="padding-top: 50px; padding-bottom: 50px;">
  <div>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <!-- <h1 class="page-heading">{{ _("Welcome to CKAN") }}</h1>
      <p>
        {% trans %}This is a nice introductory paragraph about CKAN or the site
        in general. We don't have any copy to go here yet but soon we will
        {% endtrans %}
      </p> -->
    {% endif %}
  </div>

  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img class="img-responsive" src="{{ h.url_for_static(logo_img_url) }}" alt="Placeholder"/>
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>