{% ckan_extends %}

{% block secondary_content %}

{% snippet "spatial/snippets/spatial_query.html", default_extent="{ \"type\":
    \"Polygon\", \"coordinates\": [[
            [
              -0.7292280375448001,
              38.72039726500137
            ],
            [
              -0.7292280375448001,
              38.168210448590855
            ],
            [
              -0.3999539715921969,
              38.168210448590855
            ],
            [
              -0.3999539715921969,
              38.72039726500137
            ],
            [
              -0.7292280375448001,
              38.72039726500137
            ]
]]}" %}

{% endblock %}